<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="DeAceroComunicate"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Agrega esta línea 👇 -->
        <activity android:name=".email.EditarEquipoActivity"/>

        <activity android:name=".equipos.TeamDetailActivity"/>
        <activity android:name=".equipos.ReportesActivity"/>
        <activity android:name=".equipos.RepositorioActivity"/>
        <activity android:name=".equipos.TeamsField"/>
        <activity android:name=".notas.NotasActivity"/>
        <activity android:name=".email.MainActivity"/>
        <activity android:name=".email.RedactarActivity"/>

    </application>

</manifest>
